
services:
  postgres:
    image: postgres:16-alpine
    restart: unless-stopped
    environment:
      POSTGRES_USER: hasan
      POSTGRES_PASSWORD: ollacodereview
      POSTGRES_DB: olla_code_review
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U olla_code_review"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres-data:
